$color-orange-dark: #d65d0c8a;
$color-orange-light: #e0d9d4;

$color-white: #ffff;
$color-black:#000000;

$color-nevy: #051530;

$color-light-blue:#72d6cc;

$width:calc(100%/4);

$color-bg:linear-gradient(to right bottom,#72d6cc 20%,#051530);